@import "reset";

#content {
  max-width: 950px;
  margin: auto;
  padding: 80px 0px 0px;

  .ant-form-item-control {
    line-height: 31px;
  }

  .ant-form-item {
    margin-bottom: 8px;
  }
}

.ant-col-8 > .ant-radio-group {
  width: 100%;
}

.radio-table .ant-table-tbody > tr > td {
  padding: 0 0;
}

.radio-table label.ant-radio-wrapper {
  width: 100%;
  padding: 16px 16px;
}

.ant-radio-wrapper-checked {
  background: #e6f7ff;
}

.form-table .ant-table-tbody > tr > td,
.form-table .ant-table-thead > tr > th {
  border-bottom: none;
}
