.minorSpan {
  opacity: 0.5;
  font-size: smaller;
}

.courseHeader {
  text-align: center;
  display: block;
  font-weight: bold;
}

.footer {
  text-align: center;
  padding: 20px 0px 0px;

  a {
    margin: 0px 20px;
  }
}
