<!DOCTYPE html>
<html>
<head>
  <title>Обменник Биткоина и криптовалют, лучшие цены</title>
  <link href="/static/css/main.css" rel="stylesheet">

  {% if not debug %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111654234-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111654234-1');
    </script>
  {% endif %}

</head>
<body>

  <div id='content'></div>

  <script type="text/javascript">
      // window.currencies_data = {{ currencies|safe }};
      window.currencies_data = {
        {% for currency in currencies %}
            {{ currency.code }}: {{ currency.to_dict|safe }},
        {% endfor %}
      };

      window.ratesId = {{ current_rates.pk }};
      window.order = {{ order_data|safe }};

      window.courses = {
        {% for rate in rates %}
            {{ rate.give }}_{{ rate.receive }}: '{{ rate.amount }}',
        {% endfor %}
      };
  </script>

  <script src="/static/js/main.js"></script>
  {% if debug %}
    <script src="//localhost:35729/livereload.js"></script>
  {% endif %}

  <!-- BEGIN JIVOSITE CODE {literal} -->
  <script type='text/javascript'>
  (function(){ var widget_id = '8xUD3Zkdvj';var d=document;var w=window;function l(){
  var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
  <!-- {/literal} END JIVOSITE CODE -->

</body>
</html>
